.reveal section img, .reveal blockquote {
  border: 0;
  box-shadow: none;
  background: none;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
 
.reveal {
    font-family: 'Open Sans', sans-serif !important;
}